.bottomBar {
	height: 20px;
	width: calc(100% - 40px);
	position: fixed;
	bottom: 0;
	left: 40px;
	background-color: #3078c9;
	transition: 0.5s ease;
	padding-bottom: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.remoteWindowButton {
	height: 20px;
	width: 40px;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #16825d;
	transition: 0.5s ease;
	padding-bottom: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
}