.codeWindow {
	height: calc(100% - 65px);
	width: calc(100% - (50px + 270px));
	position: absolute;
	top: 65px;
	left: 320px;
	background-color: #222222;
	color: beige;
	transition: 0.5s ease;
	display: flex;
	flex-direction: column;
	align-items: left;
}

.codeWindowContent {
	overflow:scroll; 
	height: calc(100% - 20px);
}

.tabBar {
	height: 45px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 320px;
	background-color: #252526;
	transition: 0.5s ease;
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 2;
}

.breadCrumbBar {
	height: 20px;
	width: 100%;
	position: fixed;
	top: 45px;
	left: 320px;
	background-color: rgb(47, 47, 121);
	/* background-color: #252526; */
	transition: 0.5s ease;
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 2;
	padding: 3px 0px;
}
