.leftNav {
	height: calc(100% - 25px);
	width: 50px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #333333;
	transition: 0.5s ease;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.leftNavIcon {
	padding: 14px 10px;
}

.flexSeperator {
	flex: 1 1;
}

.leftNavButton {
    all: unset;
    transition: 0.1s ease;
    filter: brightness(65%);
}

.leftNavButton:hover {
    all: unset;
    filter: brightness(200%);
}

/* for svg icons
path {
    fill: #C5C5C5;
} */