.leftNav {
	height: calc(100% - 25px);
	width: 50px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #333333;
	transition: 0.5s ease;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bottomBar {
	height: 20px;
	width: calc(100% - 40px);
	position: fixed;
    bottom: 0;
	left: 40px;
	background-color: #3078c9;
	transition: 0.5s ease;
	padding-bottom: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.remoteWindowButton {
	height: 20px;
	width: 40px;
	position: fixed;
    bottom: 0;
	left: 0;
	background-color: #16825D;
	transition: 0.5s ease;
	padding-bottom: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.explorerBar {
	height: calc(100% - 25px);
	width: 270px;
	position: fixed;
	top: 0;
	left: 50px ;
	background-color: #252526;
	transition: 0.5s ease;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.codeWindow {
	height: calc(100% - 65px);
	width: calc(100% - (50px + 270px));
	position: fixed;
	top: 40px;
	left: 320px;
	background-color: #222222;
	transition: 0.5s ease;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.tabBar {
	height: 40px;
	width: 100%;
	position: fixed;
    top: 0;
	left: 320px;
	background-color: #252526;
	transition: 0.5s ease;
	display: flex;
	flex-direction: row;
	align-items: center;
}


